---
// PostDetail component for the post page
import { render } from "astro:content";
import TOC from './TOC.astro';
import MainContent from './MainContent.astro';
import Link from '@/components/Link.astro';

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<div class="flex flex-col md:flex-row gap-4">
  <!-- Left Section: TOC -->
  <section id="d-left">
    <TOC headings={headings} />
  </section>

  <!-- Center Section: Main Content -->
  <section id="d-center">
    <MainContent post={post} Content={Content} />
  </section>
</div>