---
// PostDetail component for the post page
import { render, type CollectionEntry } from "astro:content";
import TOC from './TOC.astro';
import MainContent from './MainContent.astro';
import Toast from "../Toast.astro";

type Props = { post: CollectionEntry<"blog"> };
const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<div class="flex flex-col md:flex-row gap-8 relative min-h-screen">
  <!-- Left Section: TOC -->
  <aside id="d-left" class="w-48 md:sticky top-toc-top h-fit">
    <TOC headings={headings} />
  </aside>

  <!-- Center Section: Main Content -->
  <section id="d-center" class="flex-1 min-w-0">
    <MainContent post={post} Content={Content} />
  </section>
</div>
<section class="mx-auto mt-12">
  <script is:inline
    src="https://giscus.app/client.js"
          data-repo="johntao/astro-minimal-blog-template"
          data-repo-id="R_kgDOOmb6Vg"
          data-category="Announcements"
          data-category-id="DIC_kwDOOmb6Vs4Cp6PG"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>

<Toast />
