---
import type { MarkdownHeading } from 'astro';
import Link from "@/components/Link.astro";

// TOC (Table of Contents) component for the post detail left section
// This component will extract headings from the post content and display them as a table of contents
const { headings } = Astro.props;
interface Props {
  headings: MarkdownHeading[];
}

---

<div>
  <h2>Table of Contents</h2>

  {headings && headings.length > 0 ? (
    <nav>
      <ul>
        {headings.map((heading) => (
          <li class={`level-${heading.depth} ${heading.depth === 2 ? 'font-medium' : 'text-sm pl-3'}`}>
            <Link href={`#${heading.slug}`}>{heading.text}</Link>
          </li>
        ))}
      </ul>
    </nav>
  ) : (
    <p>No table of contents available for this post.</p>
  )}
</div>