---
import EyeOpenIcon from "@/icons/svg/EyeOpenIcon.astro";

interface Props {
  slug: string;
  svgClass?: string;
}
const { slug } = Astro.props;
---

<EyeOpenIcon class={Astro.props.svgClass} size={16} />
<span x-data={`viewCounter('${slug}')`} x-text="views"></span>
<script>
  import siteConfig from "@/site.config.ts";
  window.Alpine.data("viewCounter", (slug: string) => ({
    views: "--",
    async fetchViews() {
      try {
        const response = await fetch(`/api/views/${encodeURIComponent(slug)}`);
        if (!response.ok)
          throw new Error(`Failed to fetch view count: ${response.statusText}`);
        const data = await response.json();
        this.views = data.count;
      } catch (err) {
        console.error("Error fetching view count:", err);
      }
    },
    init() {
      if (siteConfig.isDemoSite) return;
      this.fetchViews();
    },
  }));
</script>
