---
// Home component for the index page center section
import AboutMe from './AboutMe.astro';
import PostList from './PostList.astro';
---

<div class="space-y-8">
  <AboutMe />
  <PostList />
</div>