---
// PostList component for displaying posts with view count, date, and title
import { getCollection } from "astro:content";
// import ViewCounterRead from "./ViewCounterRead.astro";

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div>
  <h2>Latest Blog Posts</h2>

  <ul>
    {allPosts.map((post) => (
      <li>
        <div>
          <time datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toLocaleDateString()}
          </time>
        </div>
        <h3>
          <a href={`/posts/${post.id}`}>
            {post.data.title || 'Untitled Post'}
          </a>
        </h3>
        {post.data.description &&
          <p>{post.data.description}</p>
        }
      </li>
    ))}
  </ul>
</div>