---
import { db, ViewCount, eq } from "astro:db";
interface Props {
  slug: string;
}
const { slug } = Astro.props;
const found = await db
  .select({ count: ViewCount.count })
  .from(ViewCount)
  .where(eq(ViewCount.slug, slug));
const count = found[0]?.count || 0;
---

<span class="text-gray-400" title="View Count">
  Views: {count}
</span>