---
// Header component (shared across pages)
import Search from "astro-pagefind/components/Search";
import Link from "./Link.astro";
---

<header>
  <div>
    <div>
      <h1><Link href="/">My Astro Blog</Link></h1>
    </div>

    <div>
      <!-- Social Links -->
      <div>
        <Link href="https://github.com/yourusername" external title="GitHub">
          GitHub
        </Link>
        <Link href="https://twitter.com/yourusername" external title="Twitter">
          Twitter
        </Link>
      </div>

      <!-- Search Form -->
      <div>
        <Search id="search" uiOptions={{ showImages: false }} />
      </div>
    </div>
  </div>
</header>