@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config "./tailwind.config.js";

@theme inline {
  /* dimensions layout width/ height */
  --spacing-height_bar: calc(var(--spacing) * 12);
  --spacing-width_main: var(--container-3xl);
  --spacing-height_modal: calc(100vh - var(--spacing) * 32);
  /* dimensions layout padding/ margin */
  --spacing-margin_modal: calc(var(--spacing) * 16);
  --spacing-padding_main_sm: calc(var(--spacing) * 3);
  --spacing-padding_main_lg: calc(var(--spacing) * 6);
  /* dimensions layout position */
  --spacing-top_toc: calc(var(--spacing) * (12 + 6));
  /* --color-cl-bg_strong: var(--color-yellow-50); */
  --color-cl-ui_strong: var(--color-white);
  --color-cl-link_strong: var(--color-blue-500);
  --color-cl-link_weak: var(--color-amber-700);
  --color-cl-text_strong: var(--color-gray-950);
  --color-cl-text_weak: var(--color-gray-500);
  --color-cl-ui_weak: var(--color-gray-200);
}
@theme {
  --spacing-width_toc: 12rem;
  --color-cl-bg_strong: #efebe0;
  /* --color-cl-bg_strong: #f8f7f2; */
}

.jt-bar {
  @apply h-height_bar w-full bg-cl-ui_strong/90 flex border-cl-ui_weak;

  header& {
    @apply border-b;
  }
  footer& {
    @apply border-t;
  }
}

.jt-bar > .jt-bar-inner {
  @apply max-w-width_main px-padding_main_sm sm:px-padding_main_lg w-full mx-auto flex items-center;
  /* &:where(header>*) {
  } */
  &:where(footer>*) {
    @apply justify-between;
  }
}

/* @custom-variant jt-head (&:where(header>.jt-bar-inner));
@custom-variant jt-foot (&:where(footer>.jt-bar-inner)); */

[x-cloak] {
  display: none !important;
}

.prose h2>a::before {
  content: 'h1#  ';
}
.prose h3>a::before {
  content: 'h2#  ';
}
.prose h4>a::before {
  content: 'h3#  ';
}

.prose h2, .prose h3, .prose h4 {
  position: relative;
}

.prose h2>a::before,
.prose h3>a::before,
.prose h4>a::before {
  font-weight: 700;
}

.prose h2::after,
.prose h3::after,
.prose h4::after {
  content: '🔗';
  margin-left: 0.75rem;
  cursor: pointer;
}
