---
import Header from "@/layouts/v01/Header.astro";
import Footer from "@/layouts/v01/Footer.astro";
import "@/layouts/v01/_styles.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-primary-bg text-primary-text min-h-screen flex flex-col font-mono">
		<!-- Top Section: Header Component -->
		<section id="top">
			<Header />
		</section>

		<!-- Center Section: Page-specific Content -->
		<section id="center" class="flex-grow">
			<div class="max-w-main-width mx-auto p-layout-padding">
				<slot />
			</div>
		</section>

		<!-- Bottom Section: Footer Component -->
		<section id="bottom">
			<Footer />
		</section>
	</body>
</html>
